<header class="flex justify-between items-center px-6 w-full h-20">
    <div class="flex items-center justify-center h-full">
        <img src="https://firebasestorage.googleapis.com/v0/b/angular-1ecce.appspot.com/o/logo.png?alt=media&token=5e5f7218-3c37-4415-8280-ad58f91da146" alt="logo" fill width="50" height="50" class="rounded-full" priority/>
        <h1 class="text-lg font-bold">CIANUS DEV</h1>
    </div>
    <div class="flex items-center justify-center gap-6">
        <a>About Us</a>
        <a href="">Our Work</a>
        <a href="">Our Team</a>
    </div>
    <div>
        <button class="bg-[#1b5aff] text-white px-4 py-2 rounded-md">Se connecter</button>
    </div>
</header>
